#countryBox{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 330px);
  justify-content: center;
}
.countryItem{
  background-color: white;
  color: black;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
img{
  width: 320px;
  height: 224px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.info{
  padding: 10px;
}
.infoName{
  width: 300px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.infoDetail{
  text-decoration: none;
  font-size: 15px;
}
p{
  font-weight: 700;
}